{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}

<div class="container lc-block toggled">
  <div class="row">
      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button id="sign-up-button" class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
  </div>
</div>


{% endblock content %}

{% block extra_scripts %}
    <script>
        $("label[for='id_first_name']").hide();
        $("label[for='id_last_name']").hide();
        $("label[for='id_username']").hide();
        $("label[for='id_email']").hide();
        $("label[for='id_password1']").hide();
        $("label[for='id_password2']").hide();
        $("label[for='id_org_id']").hide();
        $("label[for='id_phone']").hide();

        $("#id_first_name").attr("placeholder", "First Name");
        $("#id_last_name").attr("placeholder", "Last Name");
        $("#id_org_id").attr("placeholder", "Organization ID");
        $("#id_phone").attr("placeholder", "Phone Number (xxxyyyzzzz)");
    </script>
{% endblock %}


