{% extends "base/base.html" %}


{% block title %}Dashboard{% endblock %}


{% block content %}


<div class="row">
    
    
{% for queue, entries in active_queues %}

<div class="col-sm-4">
    <div class="card" id="{{queue.id}}">
        <div class="card-header bgm-blue4">
             <h2>{{queue.name}}</h2>
            <h5 style="color: white;">with {{queue.owner.name}}</h5>
        </div>

        <div class="card-body card-padding">

            <h4>{{queue.description}}</h4>
        </div>
    </div>
</div>

<div class="modal fade" id="modal{{queue.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bgm-blue4">
                <h4 class="modal-title c-white">{{queue.name}}</h4>
            </div>
            <div class="modal-body">
                <h4><strong>Owner</strong></h4> <h5> {{queue.owner.username}}</h5>
                <br>
                <h4><strong>Description</strong></h4><h5> {{queue.description}}<h5>
                <br>
                {% if entries|length == 1 %}
                    <h4>{{entries|length}} person ahead of you<h4>
                {% else %}
                    <h4>{{entries|length}} people ahead of you<h4>
                {% endif %}
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-link">Join</button>-->

            </div>
        </div>
    </div>

</div>


{% endfor %}

</div>


<div class="modal fade" id="modalEntry" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bgm-blue4">
            <h4 id="modalEntryName"class="modal-title c-white">Entry Name</h4>
        </div>
        <div class="modal-body">
            <h4><strong>Owner</strong></h4> <h5 id="modalEntryOwner">Name</h5>
            <br>
            <h4><strong>Description</strong></h4><h5 id="modalEntryDescription"> Description<h5>
            <br>
            
            <h4 id="modalEntryPositioin">0<h4>
        
              
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" id='canceldropout' data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-link" id='dropout' >Drop Out</button>

        </div>
    </div>
</div>



{% endblock %}



{% block extra_scripts %}

<script>
    $( document ).ready(function() {
        
        // global vars
        var org_id = null;
        var queue_id = null;
        var last_entry = null;
        var modalOpen = false;
        
        
        
        // ##################################################################### 
        // hidden stuff
        
        
        // fires when card is clicked, shows modal
        $('.card').click(function(e) {  
           
            var id = $(this).attr('id');
            $("#modal"+id).modal('show');
            
        });
        
        
        // fires when modal is shown
        $('.modal').on('shown.bs.modal', function (e) {
            modalOpen = true;
            console.log("modal open true");
            var id = $(this).attr('id');
            
            if (id == "modalEntry")
                return;
            
            var res = id.replace("modal", "");
            queue_id = res;
        });
        
                // fires when modal is shown
        $('.modal').on('hidden.bs.modal', function (e) {
            modalOpen = false;
            queue_id = null;
            console.log("modal open false");
        });
        
        // ###################################
        // Key press code   
        
        var pressed = false; 
            var chars = []; 
            $(window).keypress(function(e) {
                if (e.which >= 48 && e.which <= 57) {
                    chars.push(String.fromCharCode(e.which));
                }
                console.log(e.which + ":" + chars.join("|"));
                if (pressed == false) {
                    setTimeout(function(){
                        // check we have a long length e.g. it is a barcode
                        if (chars.length >= 5) {
                            org_id = chars.join("");
                            console.log("IDcode Scanned: " + org_id);
                            user_exists();
                        }
                        chars = [];
                        pressed = false;
                    },500);
                }
                pressed = true;
            });
        
        //####################################
        
        
        
        // $(document).keypress(function() {
        //   console.log(document.activeElement); 
        // });
    
        
        // existing entry stuff
        function showEntry(response){
            console.log(response);
            getQueue(response['queue']);
            
        }
        
        // ##################################################################### 
        // update entry (delete)
        
        function updateEntry(id){
            var data_load = {
                active:false
            }
            
            var method_type = "PATCH";
            var data_type = "json";

            var api_url = "{% url 'api_v1:entry' 0 %}";
            var api_url = api_url.replace("0", id);

            
            // reset entry modal 
            var success = function(response){
                swal("Dropped Out!", "You have left the queue.", "success"); 
                
                $("#modalEntry").modal('hide');
                $('#modalEntryOwner').empty();
                $('#modalEntryName').empty();
                $('#modalEntryDescription').empty();
            }
            
            var fail = function(response){
                swal("Oops", "Looks like something went wrong."); 
            }
            
            
            api_request(data_load, method_type, api_url, data_type, success, fail);
        }
        
        
        // ##################################################################### 
        // Check if user has an entry
        
        function isWaiting(id){
            var data_load = ""
            
            var method_type = "GET";
            var data_type = "json";

            var api_url = "{% url 'api_v1:active_entry' 0 %}";
            var api_url = api_url.replace("0", id);

            
            // hide the modal 
            var success = function(response){
                console.log("entry exists ");
                $('.modal').modal('hide');
                
                last_entry = response["id"]; // need this for update (delete) later
                
                showEntry(response);
                
            }
            
            var fail = function(response){
                console.log("entry doesn't exists ");
                if(queue_id != null)
                    createEntry(id);
                    
                else{
                    swal("Woah", "First select a queue, then swipe."); 
                    console.log("modal open false")
                    modalOpen = false;
                }
            }
            
            // create
            api_request(data_load, method_type, api_url, data_type, success, fail);
        
        }
        
        // ##################################################################### 
        // creates entry
        function createEntry(id){
            // creates below
            
            var data_load = {
                "active": true,
                "queue": queue_id,
                "owner": id,
                "resolved": false
            }
            
            
            console.log(data_load);
            
            var method_type = "POST";
            var data_type = "json";

            var api_url = "{% url 'api_v1:entries' %}";
            
        
            var success = function(response){
                $('.modal').modal('hide');
                swal("Thanks!", "We'll let you know when it's your turn.", "success")
            }
            
            var fail = function(response){
                swal("Sorry", "Something went wrong...")
            }
            
            // create
            api_request(data_load, method_type, api_url, data_type, success, fail);
            
            queue_id = null;
        }
        
        // ##################################################################### 
        // User Exists (ORG ID)
        
        
        // user exists success callback
        // if it does, check if an entry is already there
        var success_callback = function(response){
            isWaiting(response['id'])
        }
        
        // user exists fail callback 
        // go to signup page
        var fail_callback = function(response){
            $('.modal').modal('hide');
            window.location = "{% url 'account_signup' %}"
        }
        
        
        
        
        // checks if user_exists, grabs org_id from global var
        function user_exists() {
            var data_load = "";
            var method_type = "GET";
            var data_type = "json";

            var api_url = "{% url 'api_v1:user_exists_orgid' 0 %}";
            var api_url = api_url.replace("0", org_id);
            
            
            api_request(data_load, method_type, api_url, data_type, success_callback, fail_callback);

        }
        
        
       

        // ##################################################################### 
        // Get Queue
        
        function getQueue(id){

            var data_load = ""
            

            var method_type = "GET";
            var data_type = "json";

            var api_url = "{% url 'api_v1:read_queue' 0 %}";
            var api_url = api_url.replace("0", id);

            
            // on success update modal name and description, getUser name
            // add listeners
            var success = function(response){
                console.log("got queue");
                
                
                $('#modalEntryName').append(response['name']);
                $('#modalEntryDescription').append(response['description']);
                
                getUser(response['owner']);
                
                $( "#dropout" ).click(function() {
                    swal({   
                        title: "Are you sure?",   
                        text: "You will not be able to recover your position in the queue.",  
                        type: "warning",   
                        showCancelButton: true,   
                        confirmButtonColor: "#DD6B55",   
                        confirmButtonText: "Yes, drop out!",   
                        closeOnConfirm: false }, 
                        function(){  
                            updateEntry(last_entry);
                        });
                    
                });
                
                $( "#canceldropout" ).click(function() {
                    $('#modalEntryOwner').empty();
                    $('#modalEntryName').empty();
                    $('#modalEntryDescription').empty();
                    
                });
                
                queue_id = null;
                // delete this when getUser works
                $("#modalEntry").modal('show');
                
                
            }
            
            var fail = function(response){
                console.log("could not get queue");
                queue_id = null;
            }
            
            // create
            api_request(data_load, method_type, api_url, data_type, success, fail);
        }     
        
        
        // ##################################################################### 
        // Get User
        
        function getUser(id){

            var data_load = ""
            

            var method_type = "GET";
            var data_type = "json";

            var api_url = "{% url 'api_v1:user_exists_id' 0 %}";
            var api_url = api_url.replace("0", id);

            
            // on success, update owner on entry model and show it
            var success = function(response){
                console.log("got user");
                
                
                $('#modalEntryOwner').append(response['owner']);
                
                $("#modalEntry").modal('show');
            }
            
            var fail = function(response){
                console.log("could not get user");
            }
            
            // create
            api_request(data_load, method_type, api_url, data_type, success, fail);
        }     
        
        
        // ##################################################################### 
        // API 
        
        // csrf
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        
        // general api call
        function api_request(data_load, method_type, api_url, data_type, success_callback, fail_callback){
        
            // setup
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain){
                        xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
                    }
                }
            });
        
            // ajax
            $.ajax({
                type: method_type,
                url: api_url,
                dataType: data_type,
                data: data_load,
                success: function(response){
                    success_callback(response);
                },
                error: function(response) {
                    fail_callback(response);
                }
            });
        }
        
        
            
    
    });
    
 
    
    

    
    
</script>

{% endblock %}